* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo-header {
    width: 153px;
    height: 35px;
    margin-right: auto;
}

.nav-center {
    margin: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-list li a {
    letter-spacing: 1px;
    color: #000000;
    font-weight: 600;
    text-decoration: none;
}

nav .button-header {
    display: flex;
    height: 46px;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    color: #1C7464;
    border: solid 3px #1C7464;
    border-radius: 12px;
    margin-left: 2rem;
    cursor: pointer;
    text-decoration: none;

}

svg {
    margin-right: 12px;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    margin-top: 196px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}



p {
    text-align: center;
    font-weight: 400;
    line-height: 120%;
    font-size: 24px;
    letter-spacing: 2px;
    margin-top: 3rem;
}

svg {
    height: 20px;
    fill: var(--primary-verde-elo, #1C7464);
    margin-left: 10px;
}

body {
    background: url(./img/fundo\).png) center center;
    height: 100vh;
    background-color: #ffffff;

}

.btn {
    padding: 16px 20px;
    background-color: #1C7464;
    color: #fff;
    font-size: 20px;
    line-height: 110%;
    font-weight: 500;
    align-items: center;
    display: flex;
    border-radius: 12px;
    margin-left: 40vw;
    margin-top: 3rem;
    border-style: none;
    cursor: pointer;
}

#green-line img {
    width: 100%;
    height: 200px;
    display: block;
    margin: auto;
    margin-top: 130px;
}


.voce-nao {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    height: 57px;
    width: 560px;
    letter-spacing: 1px;
    display: inline-block;
}

.precisa-proposta {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    height: 57px;
    width: 460px;
    letter-spacing: 1px;
    display: inline-block;
    margin-left: 130px;
}

.textinho {
    margin-top: 192px;
    margin-bottom: 200px;
    margin-left: 160px;
}

.crie-sua-conta {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    margin-left: 125px;
}

.crie-sua-conta h3 {
    width: 260px;
    margin: auto;
}

.crie-sua-conta p {
    width: 350px;
    margin: auto;
    margin-top: 10px;
}


.escolha-o-modelo {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin: auto;
    letter-spacing: 1px;
    display: inline-block;
    margin-left: 125px;
}

.escolha-o-modelo h3 {
    width: 260px;
    margin: auto;
}

.escolha-o-modelo p {
    width: 325px;
    margin: auto;
    margin-top: 10px;
}


.envie-pro-cliente {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin: auto;
    letter-spacing: 1px;
    display: inline-block;
    margin-left: 125px;
}

.envie-pro-cliente h3 {
    width: 270px;
    margin: auto;
}

.envie-pro-cliente p {
    width: 330px;
    margin: auto;
    margin-top: 10px;
}

.iconspl{
margin-bottom: 200px;


}